@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html, body {
  height: 100%;
  min-height: 100vh;
  font-family: 'RocknRoll One', sans-serif;
}

.App {
  letter-spacing: 0.1em;
}

a {
  color: rgba(255, 255, 255, 0.7)
}

a:hover, a:active {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Add a dark background color with a little bit see-through */
.navbar {
  background-color: rgba(11, 10, 15, 1);
  border: 0;
  font-size: 12px;
  position: fixed;
  width: 100%;
  height: 70px;
  letter-spacing: 0.2em;
  z-index: 200;
  font-size: 16px;
}

.navbar, .grey-text {
  color: #d5d5d5 !important;
  letter-spacing: 0.1em;
}

.logo {
  margin: 0;
  height: 60px;
}


.dropdown-box {
  background-color: rgba(255, 255, 255, 0.95);
}

/* container for all pages */
.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  /* padding top must be greater than 70px because of the navbar */
  padding: 70px 0 0;
  background: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/neonbrand-PckVwEbtBeU-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color:rgba(255, 255, 255, 0.8);
}

.page h2 {
  margin: 20px;
  font-size: 1.7em;
}

/* ------------ */


/* this is a default class of the modal boxes, so it's not on JSX */
.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}


/* owner profile page */

.venue-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: radial-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/neonbrand-practice.jpg);
  background-position: center center;
  background-color: black;
  background-size: cover;
}

.venue-page img {
  object-fit: contain;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.card-style-venue {
  width: 21em;
  background-color: rgba(0, 0, 0, 0.7);
  color:rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 40px 0;
}

.thumbnail {
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.x-btn {
  padding: 0 5px;
  margin: 7px;
  font-size: 14px;
  font-weight: bold;
  background-color: darkred;
  border:darkred;
  color: rgba(255, 255, 255, 0.8)
}

.venues-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* ------------------ */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem, -0.875rem + 2.333vw, 1.3rem);
  color:rgba(255, 255, 255, 0.8);
}

.home-page h3 {
  margin-top: 20px;
}

.search-link {
  display: flex;
  width: 300px;
  padding: 30px 20px;
  margin: 30px auto;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-in;
  color:rgba(255, 255, 255, 0.8);
}

.search-link:hover, .search-link:active {
  transform: scale(1.1);
}


/* profile pages */

.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  margin: 20px;
}

.profile-page h5 {
  margin: 15px 0 5px;
}

.profile-page img {
  border-radius: 8px;
  width: 20em;
  object-fit: contain;
  height: 12em;
}

.card-style {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color:rgba(255, 255, 255, 0.8);
  width: 20rem;
  padding: 20px 0;
  margin-bottom: 10px;
}

.card-img-overlay {
  height: 25px;
  margin: 8.3em 0 0 13em;
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 2px;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin: 10px 5px;
  border-radius: 3px;
}

.button:hover, .button:active, .button:focus  {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: black !important;
  outline: 0 !important;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  /* width: 80%; */
  margin: 50px auto 0;
}

.carousel {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.landing-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: radial-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/glenn-van-de-wiel-DWHSc8o8K9Y-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  background-color: black;
  color:white;
  font-size: clamp(1rem, -0.875rem + 4.333vw, 1.5rem);
  text-align: center;
}

.landing-page h1 {
  font-size: 70px;
  padding-top: 100px;
}

.error-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url(./images//music-6062347.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color:white;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 4.333vw, 3.5rem);
  font-family: monospace;
}

.error-page h1 {
  font-size: clamp(2rem, 0.875rem + 5.333vw, 4.5rem);
}


/* cards */

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-style-search {
  width: 20rem;
  color:rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
}

.search-form {
  min-width: 320px;
}

.edit-btn {
  margin-top: 60px;
}

.nav-search {
  display: none;
}

.search-results {
  margin-top: 40px;
}

.search-scroll {
  max-height: 50vh;
  overflow: scroll;
  /* border: 2px solid green; */
  border-radius: 5%;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */

.scrollbar-primary {
  scrollbar-color: rgba(0, 0, 0, 0.6);
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}


@media only screen and (min-width: 780px) {
  .card-style {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    min-height: 550px;
    padding:20px;
  }

  .card-title {
    font-size: 50px;
  }

  .pic-and-text{
    display: flex;
    flex-direction: row;
  }
  .card-img-overlay {
    height: 25px;
    width: 25px;
    margin: 7.5em 0 0 14em;
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    font-size: 1.4em;
    display: inline;
  }

  .card-title-search {
    font-size: 30px;
  }
  
  .card-style-search {
    width: 28rem;
    color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
  }

  .card-style-venue {
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 700px;
    padding: 20px;
  }

  .carousel {
    width: 500px;
    height: 330px;
    margin: 10px auto;
  }

  .venue-page img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    color:rgba(255, 255, 255, 0.8);
    font-size: clamp(1rem, -0.875rem + 4.333vw, 1.5rem);
  }

  .home-page h3 {
    margin: 50px 0;
  }

  .search-link {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.8em;
    width: 18em;
    padding: 30px 20px;
    margin: 30px auto;
    border-radius: 7px;
    transition: 0.1s ease-in;
  }

  .search-page {
    /* border: 1px yellow solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-page h1 {
    margin: 50px 100px;
  }

  .search-form {
    /* border: 2px solid red; */
    padding: 10px;
  }

  .search-results {
    /* border: 2px solid red; */
    width: 30rem;
    margin-top: 1.8em;
  }

  .search-scroll {
    max-height: 60vh;
    overflow: scroll;
    border-radius: 5%;
    /* margin-top: 4vh; */
    padding: 10px 5px;
  }

  .search-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
    padding-top: 20px;
    width: 80%;
    height: 80%;
    /* border: 1px solid white; */
  }

  .edit-btn {
    margin-top: 80px;
  }


  .landing-top {
    display: flex;
    text-align: left;
    justify-content: center;
  }

  .landing-top h2 {
    font-weight: bold;
    margin-left: 0;
  }

  .landing-right {
    width: 430px;
    padding-left: 30px;
  }

  .search-navlink {
    margin-left: 20px;
  }

  .nav-search {
    display: flex;
    margin-right: 20px;
  }

}

.musician-edit-form {
  margin: 30px;
}

.card-img-top {
  padding:10px;
}

.error-link {
  color: white;
}

.error-link:hover{
  color: rgb(179, 179, 179);
}


/* chat */

.messages {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.7);
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
}

#me {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  align-self: flex-end;
}

#other {
  background-color: rgba(82, 101, 122, 0.301);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  align-self: flex-start;
}