@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html, body {
  height: 100%;
  min-height: 100vh;
  font-family: 'RocknRoll One', sans-serif;
}

.App {
  letter-spacing: 0.1em;
}

a {
  color: rgba(255, 255, 255, 0.7)
}

a:hover, a:active {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

img {
  /* width: 150px; */
  /* height: auto; */
}

li {
  list-style-type: none;
}

/* Add a dark background color with a little bit see-through */
.navbar {
  /* margin-bottom: 0; */
  background-color: rgba(11, 10, 15, 1);
  border: 0;
  font-size: 12px;
  position: fixed;
  width: 100%;
  height: 70px;
  letter-spacing: 0.2em;
  z-index: 200;
  font-size: 16px;
}

.navbar, .grey-text {
  color: #d5d5d5 !important;
  letter-spacing: 0.1em;
}

.logo {
  margin: 0;
  height: 60px;
  /* width: 60px; */
  /* opacity: 0.9; */
}


.dropdown-box {
  background-color: rgba(255, 255, 255, 0.95);
}

/* container for all pages */
.page {
  min-height: 100vh;
  height: 100%;
  /* padding top must be greater than 70px because of the navbar */
  padding: 70px 0 0;
  /* background-image: url("../src/images/rock-bg.jpg"); */
  /* background-size: cover;
  background-color: rgba(27, 53, 53, 0.8); */
  /* background: radial-gradient(circle, rgba(27,53,53,0.9) 0%, rgba(8,17,17,0.85) 75%); */
  height: 100%;
  width: 100%;
  background: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/neonbrand-PckVwEbtBeU-unsplash.jpg);
  background-position: center center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color:rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
}

.page h2 {
  margin: 20px;
  font-size: 1.7em;
}

/* ------------ */


/* this is a default class of the modal boxes, so it's not on JSX */
.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  /* font-size: 1em; */
}

/* owner profile page */

.venue-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 92vh;
  width: 100%;
  background: radial-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/neonbrand-practice.jpg);
  background-position: center center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
}

.venue-box img {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
}

.thumbnail {
  width: 100px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.x-btn {
  padding: 0 5px;
  margin: 7px;
  font-size: 14px;
  font-weight: bold;
  background-color: darkred;
  border:darkred;
  color: rgba(255, 255, 255, 0.8)
}

.venues-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


/* ------------------ */

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem, -0.875rem + 2.333vw, 1.3rem);
  height: 92vh;
  width: 100%;
  background: radial-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/neonbrand-PckVwEbtBeU-unsplash.jpg);
  background-position: center center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  color:rgba(255, 255, 255, 0.8);
  width: 100%;
  /* justify-content: space-evenly; */
}

.home-page h3 {
  margin-top: 20px;
}

.search-link {
  display: flex;
  /* text-align: center; */
  width: 300px;
  padding: 30px 20px;
  margin: 30px auto;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in;
  color:rgba(255, 255, 255, 0.8);
}

.search-link:hover, .search-link:active {
  transform: scale(1.1);
}


/* profile pages */

.profile-page {
display: flex;
flex-direction: column;
color: black;
margin: 20px;
}

.profile-page h5 {
  margin: 15px 0 5px;
  /* display: inline; */
}

.profile-page img {
  border-radius: 8px;
  width: 20em;
  object-fit: contain;
  height: 12em;
}

.card-style {
  /* padding: 10px; */
  width: 20rem;
  color:rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  padding: 20px 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.card-img-overlay {
  height: 25px;
  margin: 8.3em 0 0 13em;
  color:rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 2px;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  /* display: block; */
  /* align-self: flex-end; */
  border: none;
  /* width: 140px; */
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1em;
  margin: 10px 5px;
  border-radius: 3px;
}

.button:hover, .button:active, .button:focus  {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: black !important;
  outline: 0 !important;
}

/* .connect-btn {
  margin-top: 250px;
} */

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 80%;
  margin: 50px 0 0;
}

.carousel {
  width: 300px;
  height: 200px;
}

/* .landing-page-about{
  background-color: rgba(41, 41, 41, 0.5);
  padding: 14px;
  margin: 20px;
  border-radius: 10px;
} */

.landing-page{
  min-height: 93.4vh;
  height: 100%;
  width: 100%;
  background: radial-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ), url(./images/glenn-van-de-wiel-DWHSc8o8K9Y-unsplash.jpg);
  background-position: center center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: clamp(1rem, -0.875rem + 4.333vw, 1.5rem);
  text-align: center;
}

.landing-page h1 {
  font-size: 70px;
  padding-top: 100px;
}

.error-page{
  min-height: 90vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url(./images//music-6062347.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 4.333vw, 3.5rem);
  font-family:monospace;
}

.error-page h1 {
  font-size: clamp(2rem, 0.875rem + 5.333vw, 4.5rem);
}

.card-body {
  /* padding-bottom: 10px; */
  /* display: flex;
  flex-direction: column; */

}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-style-search {
  width: 20rem;
  color:rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.search-form {
  min-width: 320px;
}

.edit-btn {
  margin-top: 60px;
}

.nav-search {
  display: none;
}

@media only screen and (min-width: 780px) {
  .card-style {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 550px;
    justify-content: space-around;
    padding:20px;
  }
  .card-title {
    font-size: 50px;
  }
  .pic-and-text{
    display: flex;
    flex-direction: row;
  }
  .card-img-overlay {
    height: 25px;
    width: 25px;
    margin: 7.5em 0 0 14em;
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    font-size: 1.4em;
    display: inline;
  }
  .card-title-search {
    font-size: 30px;
  }
  
  .card-style-search {
    width: 30rem;
    color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 93.2vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url(./images/neonbrand-PckVwEbtBeU-unsplash.jpg);
    background-position: center center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    color:rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: clamp(1rem, -0.875rem + 4.333vw, 1.5rem);
  }
  .search-link {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.8em;
    width: 18em;
    padding: 30px 20px;
    margin: 30px auto;
    border-radius: 7px;
    transition: 0.1s ease-in;
  }
  .search-form {
    min-width: 480px;
  }

  .edit-btn {
    margin-top: 80px;
  }


  .top-landing{
    display: flex;
    text-align: left;
    justify-content: center;
  }
  .top-landing h5 {
    /* margin-left: 20px */
  }

  .top-landing h2 {
    font-weight: bold;
    margin-left: 0;
  }

  .landing-right {
    width: 430px;
    padding-left: 30px;
  }

  .search-navlink {
    margin-left: 20px;
  }

  .nav-search {
    display: flex;
    margin-right: 20px;
  }

}

.musician-form {
  margin: 30px;
}

.card-img-top {
  padding:10px;
}

.search-scroll{
  max-height: 50vh;
  overflow: scroll;
  padding: 0 2px;
  /* border: 2px solid red; */
  border-radius: 12px 20px 20px 12px;
}

.error-link {
  color: white;
}

.error-link:hover{
  color: rgb(179, 179, 179);
}


.search-results {
  /* height: 93vh; */
}

.search-results h1 {
margin: 20px 0 10px;
}


/* chat */

.messages {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.7);
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
}

#me {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  align-self: flex-end;
}

#other {
  background-color: rgba(82, 101, 122, 0.301);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  align-self: flex-start;
}

.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */

.scrollbar-primary {
  scrollbar-color: rgba(0, 0, 0, 0.6);
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}
/* 
.top-landing{
  display: flex;
  margin-top: 30px;
  text-align: left;
  margin-bottom: 20px;
  display: space-around;
}
.top-landing h5 {
  margin-left: 20px
}
.top-landing h2 {
  font-weight: bold;
}
.landing-right {
  width: 430px;
  margin:30px;
} */